body {
  --surface: rgb(0, 0, 0);
  --surface-1: rgb(19, 19, 19);
  --surface-2: rgb(27, 27, 27);

  --on-surface: rgb(255, 255, 255);
  --on-surface-1: rgb(190, 190, 190);
  --on-surface-2: rgb(155, 155, 155);

  --surface-1-hover: rgb(27, 27, 27);

  --accent: rgb(61 32 249);
  --on-accent: rgb(230 232 255);

  --accent-1: rgb(130 131 255);
  --on-accent-1: rgb(0 10 118);

  --special-accent: rgb(135 164 255 / 23%);
  --on-special-accent: rgb(0 181 255);

  --border-radius: 16px;
  --border-radius-large: 24px;
  --border-radius-extra-large: 48px;

  --scrim: rgb(0 0 0 / 40%);

  --error: #ff7575;

  --warning: #ffc775;

  --special-accent-disabled: rgb(117 177 255 / 23%);
  --on-special-accent-disabled: rgb(113 176 255 / 63%);

  --motion-in: cubic-bezier(0.05, 0.7, 0.1, 1);
  --motion-out: cubic-bezier(0.3, 0, 0.8, 0.15);
}
